body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 20px;
  }
  
  h1 {
    margin-bottom: 15px;
  }
  
  .thumbnail-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .img-thumbnail {
    cursor: pointer;
    max-width: 100%;
    height: auto;
  }
  
  .text-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .text-inputs input {
    width: 48%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  canvas {
    border: 1px solid #000;
    display: block;
    margin-bottom: 20px;
  }
  